<%- include('../partials/header', {title:"Artist Details- TAP", user:user}) -%>
<h2>Artist - <%=artist.displayName%></h2>
<table>
  <tr>
    <th>
      Name:
    </th>
  </tr>
  <tr>
    <th>
      <%=artist.displayName%>
    </th>
  </tr>
  <tr>
    <th>
      Email Info:
    </th>
  </tr>
  <tr>
    <th>
      <%=artist.emailInfo%>
    </th>
  </tr>
</table>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Photo
    </th>
    <th>
      Description
    </th>
  </tr>
  <tr>
  <tr>
  <%for(let i =0; i<artist.photos.length; i++){%>
  <th>
     <%=artist.photos[i].displayName%>
  </th>
  <th>
    <img src="<%=artist.photos[i].image%>" width='200'><br>
  </th>
  <th>
     <%=artist.photos[i].description%>
  </th>
  </tr>
  <%}%>
</table>

<%- include('../partials/footer') -%>
