<%- include('../partials/header', {title:"Artist Details- TAP", user:user}) -%>
<span id="newPhotos">New Photos: N/A<span>
<script>
  let socket = io.connect('/');//the default namespace
  socket.emit('newPhotos', {user:user});

  socket.on('newPhotos', function(data) {
      let photo = document.getElementById('photo');
  });
</script>
<h2>Delete photo confirmation</h2>
<table>
  <tr>
    <th>
      Artist ID:
    </th>
  </tr>
  <tr>
    <th>
      <%=artist.id%>
    </th>
  </tr>
  <tr>
    <th>
      Photo ID:
    </th>
  </tr>
  <tr>
    <th>
      <%=photo.displayName%>
    </th>
  </tr>
</table>
<tr>
  <th>
    Delete Form:
  </th>
</tr>
<form action="/artists/<%=artist.id%>/<%=photo.displayName%>" enctype="multipart/form-data" method="POST">
  <label for="AID">Confirm Artist ID: </label>
  <input type="text" id="artistID" name="artistID"/><br>
  <label for="PD">Confirm Photo ID: </label>
  <input type="text" id="photoDisplayName" name="photoDisplayName"/><br>
  <br>
  <input type="submit" value="Delete Photo" required/>
</form>

<%- include('../partials/footer') -%>
