<%- include('../partials/header', {title:"Artist Details- P, R, S", user:user}) -%>

<h2>Artist - <%=artist.artistDisplayName%></h2>

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=artist.artistDisplayName%>
    </td>
  </tr>
  <tr>
    <th>
      Graduation Year:
    </th>
    <td>
      <%=artist.gradYear%>
    </td>
  </tr>
  <tr>
    <th>
      Artist Statement:
    </th>
    <td>
      <%=artist.artistStatement%>
    </td>
  </tr>
  <tr>
    <th>
      Email Info:
    </th>
    <td>
      <%=artist.artistID%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[0]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[1]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[2]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[3]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[4]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[5]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[6]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[7]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[8]%>
    </td>
  </tr>
  <tr>
    <td>
      <%=artist.photosIDs[9]%>
    </td>
  </tr>
</table>

<%- include('../partials/footer') -%>
