<%- include('../partials/header', {title:"P, R, S: All Photos", user:user}) -%>

<h2>All Photos</h2>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Photo
    </th>
  </tr>
  <tr>
  <%for(let i =0; i<photos.length; i++){%>
  <th>
    <a href="/photos/<%=photos[i].photoDisplayName%>"><%=photos[i].photoImage%></a>
  </th>
  <th>
    <img src="<%=photos[i].photoImage%>" width='200'><br>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('../partials/footer') -%>
