<%- include('../partials/header', {title:"TAP: All Photos", user:user}) -%>
<span id="newPhotos">New Photos: N/A<span>
<script>
  let socket = io.connect('/');//the default namespace
  socket.on('newPhotos', function(data) {
      let photo = document.getElementById('photo');
  });
</script>
<h2>All Photos</h2>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Photo
    </th>
  </tr>
  <tr>
  <%for(let i =0; i<photos.length; i++){%>
  <th>
    <a href="/photos/<%=photos[i].displayName%>"><%=photos[i].displayName%></a>
  </th>
  <th>
    <img src="<%=photos[i].image%>" width='200'><br>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('../partials/footer') -%>
