<%- include('../partials/header', {title:"Photo Details- TAP", user:user}) -%>

<h2>Photo - <%=photo.displayName%></h2>

<img src="<%=photo.image%>" height=300 />
<table>
  <tr>
    <th>
      Title:
    </th>
    <td>
      <%=photo.displayName%>
    </td>
  </tr>
  <tr>
    <th>
      Description:
    </th>
    <td>
      <%=photo.description%>
    </td>
  </tr>
</table>

<%- include('../partials/footer') -%>
